.main {
    height: auto;
    width: auto;
    border: 2px solid #F4E0B9;
    background-color: #F4E0B9;
}

h1, h3, h4 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-style: italic;
}

h1 {
    font-size: 70px;
    color: #FE0000;
    margin-top: 50px;
    margin-bottom: 0;
}

h4 {
    color: #FE0000;
    margin-top: 0;
}

h3 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    align-content: space-evenly;
}

.grid-item {
    background-color: #A8A196;
    border: 1px solid #7D7463;
    color: #fff;
    height: 110px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    font-size: 13px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    border-radius: 10%;
    margin: 5px;
    margin-bottom: 10px;
}

.grid-item:hover {
    border: 1px solid white;
    cursor: pointer;
    transition: 0.4s;
}
